@{
    ViewData["Title"] = "Contact";
}

<div class="container mt-3">
    <h3>@ViewData["Title"]</h3>
    <form asp-action="Index" method="post">
        <div class="mb-3 form-floating">
            <input name="name" type="text" class="form-control bg-dark text-white" id="name" placeholder="Nom">
            <label for="name" class="form-label">Nom</label>
        </div>
        <div class="mb-3 form-floating">
            <input name="email" type="email" class="form-control bg-dark text-white" id="emailadress" placeholder="Adresse mail">
            <label for="emailadress" class="form-label">Adresse mail</label>
        </div>
        <div class="mb-3 form-floating">
            <textarea name="message" class="form-control bg-dark text-white" placeholder="Message" id="message" style="height: 200px"></textarea>
            <label for="message">Message</label>
        </div>
        <button class="btn btn-dark border-1 border-white" type="submit">Envoyer</button>
    </form>
</div>