@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-2">
    <div class="text-center">
        <h2>
            @Localizer["Title"]
        </h2>
    </div>
    <hr />
    <div class="row justify-content-center w-100">
        <div class="card bg-dark col-10 col-lg-3 p-0">
            <div class="card-header text-center">
                <h3>Site portfolio</h3>
            </div>
            <div class="card-body">
                <p>
                    Projet personnel
                </p>
                <p>
                    Langages utilisés :
                </p>
                <ul>
                    <li>
                        C#
                    </li>
                    <li>
                        JavaScript
                    </li>
                    <li>
                        HTML / CSS
                    </li>
                </ul>
                <p>
                    Technologies et librairies utilisés :
                </p>
                <ul>
                    <li>
                        ASP.NET Core MVC
                    </li>
                    <li>
                        .NET 5.0
                    </li>
                    <li>
                        Bootstrap 5
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="https://github.com/ValentinVidecoq/Website" target="_blank">GitHub</a>
            </div>
        </div>
        <div class="card bg-dark col-10 col-lg-3 p-0 ms-lg-3 mt-3 mt-lg-0">
            <div class="card-header text-center">
                <h3>Outil de plannification</h3>
            </div>
            <div class="card-body">
                <p>
                    Stage de 2ème année (Juillet-Août 2021)
                </p>
                <p>
                    Langages utilisés :
                </p>
                <ul>
                    <li>
                        C#
                    </li>
                    <li>
                        JavaScript
                    </li>
                    <li>
                        HTML / CSS
                    </li>
                </ul>
                <p>
                    Technologies et librairies utilisés :
                </p>
                <ul>
                    <li>
                        ASP.NET Core MVC
                    </li>
                    <li>
                        .NET 5.0
                    </li>
                    <li>
                        Bootstrap 5
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="~/files/pdf/Rapport_Stage_AI_VIDECOQ_Valentin.pdf" target="_blank">Rapport de stage</a>
            </div>
        </div>
        <div class="card bg-dark col-10 col-lg-3 p-0 ms-lg-3 mt-3 mt-lg-0">
            <div class="card-header text-center">
                <h3>Enquête anciens élèves</h3>
            </div>
            <div class="card-body">
                <p>
                    Projet scolaire réalisé en 2019
                </p>
                <p>
                    Langages utilisés :
                </p>
                <ul>
                    <li>
                        PHP
                    </li>
                    <li>
                        JavaScript
                    </li>
                    <li>
                        HTML / CSS
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="https://github.com/ValentinVidecoq/professional-insertion" target="_blank">GitHub</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3 w-100">
        <div class="card bg-dark col-10 col-lg-3 p-0">
            <div class="card-header text-center">
                <h3>Space invader</h3>
            </div>
            <div class="card-body">
                <p>
                    Projet scolaire réalisé en 2019
                </p>
                <p>
                    Langage utilisé :
                </p>
                <ul>
                    <li>
                        Java
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="https://github.com/ValentinVidecoq/SpaceInvaders" target="_blank">GitHub</a>
            </div>
        </div>
        <div class="card bg-dark col-10 col-lg-3 p-0 ms-lg-3 mt-3 mt-lg-0">
            <div class="card-header text-center">
                <h3>Puissance 4</h3>
            </div>
            <div class="card-body">
                <p>
                    Projet scolaire réalisé en 2017
                </p>
                <p>
                    Langage utilisé :
                </p>
                <ul>
                    <li>
                        C
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="https://github.com/ValentinVidecoq/Connect4" target="_blank">GitHub</a>
            </div>
        </div>
    </div>
</div>